*.pyc
devel*
build*
.*.swp
.catkin_workspace
*/src/CMakeLists.txt
roscontrol101/unit03/src/CMakeLists.txt
roscontrol101/unit04/src/CMakeLists.txt
roscontrol101/unit05/src/CMakeLists.txt
rosindustrial101/unit02/src/CMakeLists.txt
rosindustrial101/unit02/src/sia10f_decription/*
