<?xml version="1.0"?>
<launch>
  <group ns="/pi_robot">
    <param name="robot_description" command="cat $(find pi_robot_pkg)/urdf/pi_robot_v2.urdf"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="TRUE"/>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
      <remap from="/joint_states" to="/pi_robot/joint_states"/>
    </node>
  </group>
</launch>
